*{
    margin: 0;
    padding: 0;
    box-sizing: border-box black;

}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* box-sizing: border-box black; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#result {
    font-size: 30px;
    border: 2px solid black;
    position:fixed;
    left: 10%;
    
}
